In [1]:
import pandas as pd

In [27]:
data = pd.read_csv("imdb-top-1000.csv")

In [51]:
data

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [30]:
data.shape

(1000, 10)

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   int64
 3   Genre          1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   Director       1000 non-null   object
 6   Star1          1000 non-null   object
 7   No_of_Votes    1000 non-null   int64
 8   Gross          1000 non-null   float64
 9   Metascore      843 non-null    float64
dtypes: float64(3), int64(2), object(5)
memory usage: 78.3+ KB

In [32]:
data.Released_Year.value_counts()

Released_Year
2014    32
2004    31
2009    29
2013    28
2016    28
        ..
1926     1
1936     1
1924     1
1921     1
PG       1
Name: count, Length: 100, dtype: int64

In [17]:
data[data.Released_Year=="PG"]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
966,Apollo 13,PG,140,Adventure,7.6,Ron Howard,Tom Hanks,269197,173837933.0,77.0

In [33]:
data.loc[966:966, 'Released_Year'] = 2014

In [34]:
data.Released_Year.dtype

dtype('O')

In [35]:
data.Released_Year.value_counts()

Released_Year
2014    32
2004    31
2009    29
2013    28
2016    28
        ..
1926     1
1936     1
1924     1
1921     1
2014     1
Name: count, Length: 100, dtype: int64

In [36]:
data.Released_Year = data.Released_Year.astype('int')

In [37]:
data.Released_Year.dtype

dtype('int32')

In [38]:
data.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [40]:
#All the films release in the year 2008
data[data.Released_Year==2008]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
66,WALLÂ·E,2008,98,Animation,8.4,Andrew Stanton,Ben Burtt,999790,223808164.0,95.0
224,A Wednesday,2008,104,Action,8.1,Neeraj Pandey,Anupam Kher,73891,573329738.0,NaN
225,Gran Torino,2008,116,Drama,8.1,Clint Eastwood,Clint Eastwood,720450,148095302.0,72.0
227,Okuribito,2008,130,Drama,8.1,YÃ´jirÃ´ Takita,Masahiro Motoki,48582,1498210.0,68.0
351,Yip Man,2008,106,Action,8.0,Wilson Yip,Donnie Yen,211427,613703997.0,59.0
354,Slumdog Millionaire,2008,120,Drama,8.0,Danny Boyle,Loveleen Tandan,798882,141319928.0,84.0
487,LÃ¥t den rÃ¤tte komma in,2008,114,Crime,7.9,Tomas Alfredson,KÃ¥re Hedebrant,205609,2122065.0,82.0
489,The Wrestler,2008,109,Drama,7.9,Darren Aronofsky,Mickey Rourke,289415,26236603.0,80.0
494,In Bruges,2008,107,Comedy,7.9,Martin McDonagh,Colin Farrell,390334,7757130.0,67.0
502,Iron Man,2008,126,Action,7.9,Jon Favreau,Robert Downey Jr.,939644,318412101.0,79.0
608,Chugyeokja,2008,125,Action,7.8,Hong-jin Na,Kim Yoon-seok,58468,369366051.0,64.0
615,Taken,2008,90,Action,7.8,Pierre Morel,Liam Neeson,564791,145000989.0,51.0
616,The Boy in the Striped Pyjamas,2008,94,Drama,7.8,Mark Herman,Asa Butterfield,190748,9030581.0,55.0
628,The Curious Case of Benjamin Button,2008,166,Drama,7.8,David Fincher,Brad Pitt,589160,127509326.0,70.0
756,Gake no ue no Ponyo,2008,101,Animation,7.7,Hayao Miyazaki,Cate Blanchett,125317,15090400.0,86.0
757,Frost/Nixon,2008,122,Biography,7.7,Ron Howard,Frank Langella,103330,18593156.0,80.0
759,Changeling,2008,141,Biography,7.7,Clint Eastwood,Angelina Jolie,239203,35739802.0,63.0
913,Die Welle,2008,107,Drama,7.6,Dennis Gansel,JÃ¼rgen Vogel,102742,924558264.0,NaN
917,Seven Pounds,2008,123,Drama,7.6,Gabriele Muccino,Will Smith,286770,69951824.0,36.0
933,"Synecdoche, New York",2008,124,Drama,7.6,Charlie Kaufman,Philip Seymour Hoffman,83158,3081925.0,67.0

In [41]:
data[(data.Released_Year==2008) & (data.Genre=="Action")]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
224,A Wednesday,2008,104,Action,8.1,Neeraj Pandey,Anupam Kher,73891,573329738.0,NaN
351,Yip Man,2008,106,Action,8.0,Wilson Yip,Donnie Yen,211427,613703997.0,59.0
502,Iron Man,2008,126,Action,7.9,Jon Favreau,Robert Downey Jr.,939644,318412101.0,79.0
608,Chugyeokja,2008,125,Action,7.8,Hong-jin Na,Kim Yoon-seok,58468,369366051.0,64.0
615,Taken,2008,90,Action,7.8,Pierre Morel,Liam Neeson,564791,145000989.0,51.0

In [54]:
# Gross amount earned by action movies in the year 2008

data[(data.Released_Year==2008) & (data.Genre=="Action")]['Gross'].sum()

2554671320.0

In [49]:
# The most successful movie in the data in terms of Gross amount earned.
data.Gross.max()

936662225.0

In [50]:
data[data.Gross==data.Gross.max()]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
477,Star Wars: Episode VII - The Force Awakens,2015,138,Action,7.9,J.J. Abrams,Daisy Ridley,860823,936662225.0,80.0

In [55]:
data.Runtime.max()

321

In [56]:
data[data.Runtime==data.Runtime.max()]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
140,Gangs of Wasseypur,2012,321,Action,8.2,Anurag Kashyap,Manoj Bajpayee,82365,5257741.0,89.0

In [61]:
data.Director.value_counts().tail()

Director
Neill Blomkamp     1
Tomas Alfredson    1
Duncan Jones       1
Jacques Audiard    1
George Stevens     1
Name: count, dtype: int64

In [64]:
data[data.Genre=='Comedy']['Director'].mode()

0    Woody Allen
Name: Director, dtype: object

In [77]:
data[data.No_of_Votes==data.No_of_Votes.min()]['Star1'].values[0]

'Leslie Cheung'

In [74]:
data[data.No_of_Votes == data.No_of_Votes.min()]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
264,Ba wang bie ji,1993,171,Drama,8.1,Kaige Chen,Leslie Cheung,25088,5216888.0,NaN

In [78]:
data[(data.Released_Year==2008) & (data.Genre=='Action')]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
224,A Wednesday,2008,104,Action,8.1,Neeraj Pandey,Anupam Kher,73891,573329738.0,NaN
351,Yip Man,2008,106,Action,8.0,Wilson Yip,Donnie Yen,211427,613703997.0,59.0
502,Iron Man,2008,126,Action,7.9,Jon Favreau,Robert Downey Jr.,939644,318412101.0,79.0
608,Chugyeokja,2008,125,Action,7.8,Hong-jin Na,Kim Yoon-seok,58468,369366051.0,64.0
615,Taken,2008,90,Action,7.8,Pierre Morel,Liam Neeson,564791,145000989.0,51.0

In [79]:
data[data.Genre=="Drama"]['IMDB_Rating'].mean()

7.957439446366782

In [80]:
data[data.Genre=="Action"]['IMDB_Rating'].mean()

7.9494186046511635

In [81]:
data[data.Genre=="Comedy"]['IMDB_Rating'].mean()

7.901290322580647

In [82]:
data[data.Genre=="Crime"]['IMDB_Rating'].mean()

8.016822429906542

In [84]:
data[data.Genre=="Animation"]['IMDB_Rating'].mean()

7.930487804878048

In [86]:
data[data.Genre=="Adventure"]['IMDB_Rating'].mean()

7.9375

In [87]:
data.Genre.unique()

array(['Drama', 'Crime', 'Action', 'Biography', 'Western', 'Comedy',
       'Adventure', 'Animation', 'Horror', 'Mystery', 'Film-Noir',
       'Fantasy', 'Family', 'Thriller'], dtype=object)

# GroupBy

In [97]:
data.groupby('Genre')['IMDB_Rating'].agg(['mean', 'max', "min"])

               mean  max  min
Genre
Action     7.949419  9.0  7.6
Adventure  7.937500  8.6  7.6
Animation  7.930488  8.6  7.6
Biography  7.938636  8.9  7.6
Comedy     7.901290  8.6  7.6
Crime      8.016822  9.2  7.6
Drama      7.957439  9.3  7.6
Family     7.800000  7.8  7.8
Fantasy    8.000000  8.1  7.9
Film-Noir  7.966667  8.1  7.8
Horror     7.909091  8.5  7.6
Mystery    7.975000  8.4  7.6
Thriller   7.800000  7.8  7.8
Western    8.350000  8.8  7.8